#root {
    display:flex;
    flex-direction:column;
    min-height:100vh;
  }

.wrapper {
    flex: 1;
}

.nav-item {
    margin-right: 15px!important;
}

.user-avatar {
    display: flex;
    text-decoration: none;
    color: #6c757d;
    justify-content: center;
}

.user-avatar-img {
    display: inline-block;
    width: 38px;
    height: 38px;
    border: 1px solid #dbdbdb;
    border-radius: 50%;
    margin-right: 5px;
    padding: 1px;
}

.user-avatar-text {
    padding-top: 8px;
    font-size: .875rem;
}

#submmit_search {
    margin-left: -100px;
}

#book_count {
    width: 80px;
}

#order_button {
    background-color: #fff;
    color: #f60;
    border: 1px solid #f60;
}

#order_button:hover {
    background-color: #f60;
    color: #fff;
    border: 1px solid #f60;
}

p, h5 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card__picture-block {
    position: relative;
    display: block;
    width: 100%;
    margin-bottom: 8px;
    overflow: hidden;
    padding-top: 63%;
    padding-bottom: 63%;
    background-color: rgb(245, 246, 247);
  }

  .card__picture-block-img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
  }

#booknumber {
    width: 80px;
}

#orderbutton {
    background-color: #fff;
    color: #f60;
    border: 1px solid #f60;
}

#orderbutton:hover {
    background-color: #f60;
    color: #fff;
    border: 1px solid #f60;
}

.signin, 
.cart__purchase-page,
.block__text-error-message {
    width: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.block__text-error-message {
    width: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.signin img {
    width: 160px;
    height: 160px;
    border: 1px solid #dbdbdb;
    border-radius: 50%;
    padding: 5px;
    margin-bottom: 20px;
}

.cart__purchase-page img {
    width: 160px;
    height: 160px;
    padding: 5px;
    margin-bottom: 20px;
}

.empty-page {
    display: flex;
    justify-content: center;
}

@media (max-width: 320px) {
    .signin {
        width: 100%;
        padding: 0 8px;
    }

    .signin img {
        width: 200px;
        height: 200px;
    }
}